<style>

#news{
  border: 2px solid #a1a1a1;
  border-radius: 25px;
}

</style>


<div class="divider" id="about"></div>
 

<!--start of about -->  

<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header text-center">
      <h1>About</h1>
    </div>
    
    <p class="lead text-center">
    
    </p>
    <p class="text-center">
      College of Engineering, Guindy in Chennai, India, is India's oldest engineering and technical institution, having been established in 1794. Today it is one of the four constituent colleges of Anna University, Chennai.

      It was started in May 1794 as a School of Survey and established as a college in 1859 under the Madras University, and is one of the oldest technical institutes in the world. It is the oldest engineering institute in India. The institution introduced B.E. Degree Courses in Mechanical Engineering in 1894, Electrical Engineering in 1930, Telecommunication and Highway Engineering in 1945, Printing Technology in 1983 and Geoinformatics in 1992. It was the first institution in South India to establish a Computer Centre - in 1963.

      It has link-ups with institutions and organizations like USAID, UNCHS, Ford Foundation, European Economic Community and the Governments of Germany and UK. It was the first college in the country to have its own postage stamp when the Indian Postal Service brought out a postage stamp to mark the 200th anniversary of the institution.
    </p>
  </div>
</div>

<!--end of about -->

<!--start of events -->

<div class="divider" id="section2"></div>
  
<section class="bg-1">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Know More About CEG</h2></div>
</section>


   
<div class="container" style = "height:400px;"id="section3">
<br>
<br>
    <div class="row">

    <div class = "col-md-6" style = "border: 2px solid #a1a1a1;
    border-radius: 25px;">
      <h3>FEATURED NEWS</h3>
      
      
<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is HTML?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Bootstrap?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
      
    </div><!--/col-->
    <div class = "col-md-6">
    <h3>EVENTS</h3>
    </div>
  </div>
</div><!--/container-->


<!-- end of events -->


  

<div class="container" style = "height:400px;"id="section5">
    <div class="col-xs-12 text-center">
      <h1>News</h1>
      <div class="row">
        <div class="col-md-12 centered">
          <div id="nt-example1-container">
            <i class="fa fa-arrow-up" id="nt-example1-prev"></i>
                    <ul id="nt-example1">
                        <li>Etiam imperdiet volutpat libero eu tristique. Aenean, rutrum felis in. <a href="#">Read more...</a></li>
                        <li>Curabitur porttitor ante eget hendrerit adipiscing. Maecenas at magna. <a href="#">Read more...</a></li>
                        <li>Praesent ornare nisl lorem, ut condimentum lectus gravida ut. <a href="#">Read more...</a></li>
                        <li>Nunc ultrices tortor eu massa placerat posuere. Vivamus viverra sagittis. <a href="#">Read more...</a></li>
                        <li>Morbi sodales tellus sit amet leo congue bibendum. Ut non mauris eu neque. <a href="#">Read more...</a></li>
                        <li>In pharetra suscipit orci sed viverra. Praesent at sollicitudin tortor, id. <a href="#">Read more...</a> </li>
                        <li>Maecenas nec ligula sed est suscipit aliquet sed eget ipsum, suspendisse. <a href="#">Read more...</a></li>
                        <li>Onec bibendum consectetur diam, nec euismod urna venenatis eget.. <a href="#">Read more...</a> </li>
                    </ul>
                    <i class="fa fa-arrow-down" id="nt-example1-next"></i>
                </div>
        </div>
    </div><!--/col-->
</div><!--/container-->



  
</div><!--/wrap-->