
<div class="divider" id="about"></div>
 

<!--start of about -->  

<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header text-center">
      <h1>About</h1>
    </div>
    
    <p class="lead text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit
    </p>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium soluta deleniti enim perspiciatis? Itaque a, deleniti exercitationem. Alias nihil, expedita nam, sit laudantium obcaecati, repudiandae quis amet in magnam, eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, cupiditate illo. Inventore obcaecati labore suscipit culpa, voluptas, ad quos itaque harum doloremque, odit dolorum incidunt omnis. Error veritatis facilis rerum.
    </p>
  </div>
</div>

<!--end of about -->

<!--start of events -->

<div class="divider" id="section2"></div>
  
<section class="bg-1">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Know More About CEG</h2></div>
</section>
  

   
<div class="container" style = "height:400px;"id="section3">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>EVENTS</h1>
      
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa fugit dignissimos itaque nulla quam saepe autem provident sed reiciendis deserunt, nesciunt blanditiis deleniti veniam distinctio, beatae nam totam debitis aliquid.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eum autem fuga ab voluptatum, accusamus deserunt, hic animi cum doloremque quidem voluptas! Fuga debitis laboriosam nulla unde praesentium, ad alias.
      </p>
      
    </div><!--/col-->
</div><!--/container-->


<!-- end of events -->

<section class="bg-1">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Check out our Events Page</h2></div>
</section>


<div class="container" style = "height:400px;"id="section3">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>PROJECTS</h1>
      
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa fugit dignissimos itaque nulla quam saepe autem provident sed reiciendis deserunt, nesciunt blanditiis deleniti veniam distinctio, beatae nam totam debitis aliquid.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eum autem fuga ab voluptatum, accusamus deserunt, hic animi cum doloremque quidem voluptas! Fuga debitis laboriosam nulla unde praesentium, ad alias.
      </p>
      
    </div><!--/col-->
</div><!--/container-->


  
<section class="bg-3" id="section4">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Check out the Projects Section</h2></div>
</section>
  





  
</div><!--/wrap-->